.amarelo{
    color:yellow;
}


.fantasma{

        list-style: none;
        cursor: pointer;
        color: black;
        background:white;
        border: 1px solid black;
        width: 50px;
        text-align: center;
        float: right;
        position: fixed;
        z-index:9999;
        margin: 10px;
        right: 0px;
}

.pad{
    padding: 10px;
}
